<div class="header">
	<div class = "header-image">
		<%= link_to image_tag("/images/img/header-logo.jpg"), root_path %>
		</div>
		<% if user_signed_in? %>
		<div class="current_user_name">ようこそ　<span><%= current_user.name %></span>　さん</div>
		<% end %>

	<% if user_signed_in? %>
	<input type='checkbox' id='mmeennuu'>
		<label class='menu' for='mmeennuu'>
			<div class='barry'>
			    <span class='bar'></span>
			    <span class='bar'></span>
			    <span class='bar'></span>
			    <span class='bar'></span>
			</div>
			<ul>
			    <li><%= link_to "TOP", front_post_images_path %></li>
			    <li><%= link_to "MY Page", front_users_path %></li>
			    <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
			    <li></li>
			</ul>
		</label>
	<% else %>
	<input type='checkbox' id='mmeennuu'>
		<label class='menu' for='mmeennuu'>
			<div class='barry'>
			    <span class='bar'></span>
			    <span class='bar'></span>
			    <span class='bar'></span>
			    <span class='bar'></span>
			</div>
			<ul>
			    <li><%= link_to "Top", root_path, class: "top-link modals" %></li>
			    <li><div class="sign_up modals">Sign_up</div></li>
			    <li><div class="sign_in modals">Log_in</div></li>
			    <li></li>
			</ul>
		</label>
	<% end %>
</div>

