<div class="header">
	<div class = "header-image">
		<%= image_tag("img/logo.jpg") %>
	</div>
	<% if user_signed_in? %>
	<input type='checkbox' id='mmeennuu'>
		<label class='menu' for='mmeennuu'>

		<div class='barry'>
		    <span class='bar'></span>
		    <span class='bar'></span>
		    <span class='bar'></span>
		    <span class='bar'></span>
		</div>
			<ul>
			    <li><%= link_to "TOP" %></li>
			    <li><%= link_to "MY Page", front_users_path %></li>
			    <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
			    <li></li>
			</ul>
		</label>
	<% else %>
	<input type='checkbox' id='mmeennuu'>
		<label class='menu' for='mmeennuu'>

		<div class='barry'>
		    <span class='bar'></span>
		    <span class='bar'></span>
		    <span class='bar'></span>
		    <span class='bar'></span>
		</div>
			<ul>
			    <li><%= link_to "TOP" %></li>
			    <li><%= link_to "sign_up", new_user_registration_path %></li>
			    <li><%= link_to "sign_in", new_user_session_path %></li>
			    <li></li>
			</ul>
		</label>
		<!-- <span class="header-link-left">
			<%= link_to "sign_up", class: "btn btn-default" %>
		</span>
		<span class="header-link-right">
			<%= link_to "sign_in" %> -->
		</span>
	<% end %>
</div>