<div class="header">
	<div class = "header-image">
		<%= image_tag("logo.jpg") %>
	</div>
<span class="header-link-left">
	<%= link_to "sign_up", new_user_registration_path, class: "button" %>
</span>

<span class="header-link-right"><%= link_to "sign_in" %></span>
</div>

<div class="table">
	<table>
		<thead>
			<tr>
				<th><h5>2018/10/06</h5></th>
				<th><h5>2018/10/07</h5></th>
				<th><h5>2018/10/08</h5></th>
				<th><h5>2018/10/06</h5></th>
				<th><h5>2018/10/07</h5></th>
				<th><h5>2018/10/08</h5></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= image_tag("IMG_1784.JPG") %></td>
				<td><%= image_tag("IMG_1785.JPG") %></td>
				<td><%= image_tag("IMG_1786.JPG") %></td>
				<td><%= image_tag("IMG_1784.JPG") %></td>
				<td><%= image_tag("IMG_1785.JPG") %></td>
				<td><%= image_tag("IMG_1786.JPG") %></td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th><h5>2018/10/06</h5></th>
				<th><h5>2018/10/07</h5></th>
				<th><h5>2018/10/08</h5></th>
				<th><h5>2018/10/06</h5></th>
				<th><h5>2018/10/07</h5></th>
				<th><h5>2018/10/08</h5></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= image_tag("IMG_1784.JPG") %></td>
				<td><%= image_tag("IMG_1785.JPG") %></td>
				<td><%= image_tag("IMG_1786.JPG") %></td>
				<td><%= image_tag("IMG_1784.JPG") %></td>
				<td><%= image_tag("IMG_1785.JPG") %></td>
				<td><%= image_tag("IMG_1786.JPG") %></td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th><h5>2018/10/06</h5></th>
				<th><h5>2018/10/07</h5></th>
				<th><h5>2018/10/08</h5></th>
				<th><h5>2018/10/06</h5></th>
				<th><h5>2018/10/07</h5></th>
				<th><h5>2018/10/08</h5></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= image_tag("IMG_1784.JPG") %></td>
				<td><%= image_tag("IMG_1785.JPG") %></td>
				<td><%= image_tag("IMG_1786.JPG") %></td>
				<td><%= image_tag("IMG_1784.JPG") %></td>
				<td><%= image_tag("IMG_1785.JPG") %></td>
				<td><%= image_tag("IMG_1786.JPG") %></td>
			</tr>
		</tbody>
	</table>