<%= stylesheet_link_tag 'front/post_images' %>
<%= render 'front/post_images/header' %>
<div class="post-image", style="padding-top: 100px;">
	<%= attachment_image_tag @image, :image %>
</div>
<div class="comment-box">
<%= form_for [@image, @comment], url: front_post_image_post_comments_path(@image.id) do |c| %>
	<%= c.text_field :comment, class: "form-control" %>
	<%= c.submit "コメントする" %>
<% end %>
</div>

<div class="comment-field">
	<% @image.post_comments.each do |comment| %>
		<div><%= attachment_image_tag comment.user, :profile_image, class: "comment-user-profile-image" %></div>
			<div class="comment"><%= comment.comment %></div>
		<div class="comment-information">
			<div class="comment-name"><%= comment.user.name %></div>
			<div><%= simple_time(comment.created_at) %></div>
		</div>

	<% end %>
</div>
