<%= stylesheet_link_tag 'front/post_images' %>
<div class="header">
		<%= image_tag("logo.jpg") %>
<span class="header-link-left"><%= link_to "top" %></span>
<span class="header-link-right"><%= link_to "logout" %></span>
</div>
<div class="container">
	<div class="col-xs-6">
		<div class="image">
		<%= image_tag("IMG_1786.JPG") %>
		</div>
		<div class="name"><h5>username</h5></div>
	</div>
	<div class="col-xs-6">
		<div class="comment-table">
			<%= image_tag("logo.jpg") %>
			<div class="comment-box">
				<div class="comment">comment</div>
				<div class="comment-name">name</div>
				<div>date</div>
			</div>
		</div>
	</div>
</div>