
<div class="post-wrapper"></div>
	<div class="post-modal">
		<div class="post-box">
			<div class="remove-icon"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
			<div class="image-preview">
				<div class="preview" ></div>
			</div>
			<div class="image-field">
				<%= form_for(@image, url: front_users_path) do |f| %>
				<%= f.label :title %>
				<%= f.text_field :title, class: "title-form form-control" %>
				<%= f.select :category_id, [["お家ごはん","1"],["外食","2"]],{class: 'select-form form-control'} %>
				<%= f.select :genre_id, [["和食","1"],["洋食・西洋","2"],["中華","3"],["イタリアン","4"],["フレンチ","5"],["鍋","6"],["焼肉・ステーキ","7"],["ラーメン・麺類","8"],["寿司","9"],["アジア・エスニック","10"],["パスタ","11"],["ジャンクフード","12"],["その他","13"]],{class: 'select-form form-control'} %>
				<%= f.attachment_field :image %>
				<%= f.submit "投稿する", class: "post-btn btn btn-default" %>
						<% if flash[:error] %>
							<div class="post-alert">
								<%= flash[:error] %>
							</div>
						<% end %>
				<% end %>
			</div>
		</div>
	</div>