<div class="left-side col-xs-3">
	<div class="user-name">
		<div class="profile-image">
			<%= attachment_image_tag current_user, :profile_image, fallback: '/images/no_image.jpg', class: "circle" %>
		</div>
		<div class="profile-name"><%= current_user.name %></div>
		<div class="sol">
			<div class="far fa-thumbs-up"></div>
			<div class="fas fa-home"></div>
			<div class="fas fa-utensils"></div>
		</div>
		<div class="count">
			<div class="good"><%= @count %></div>
			<div class="home-count"><%= @images_count.count %></div>
			<div class="out-count"><%= @eating_out_count.count %></div>
		</div>
	</div>
		<div class="mypage-link">
			<button class="raise"><%= link_to "TOP", front_post_images_path %></button>
			<button class="raise"><%= link_to "MyImages", front_users_path %></button>
			<button class="post">Post</button>
			<button class="raise"><%= link_to "ProfileEdit", edit_front_user_path(current_user.id) %></button>
			<button class="raise"><%= link_to "logout" , destroy_user_session_path, method: :delete, class: "logout"%></button>
		</div>
</div>