<%= stylesheet_link_tag 'front/users' %>
<%= render 'front/users/new', users: @image %>
<div class="container">
	<%= render 'front/users/user_side' %>
	<div class="col-xs-9">
		<h1>My image</h1>
		<% @images.each do |i| %>
		<div class="myimage-box">
			<%= attachment_image_tag i, :image, class: "my-images" %>
			<div><%= simple_time(i.created_at) %>
			<%= link_to "削除", front_user_path(i.id), method: :delete %></div>
		</div>
		<% end %>
	</div>
</div>