<%= stylesheet_link_tag 'front/users' %>

<div class="container">
	<%= render 'front/users/user_side' %>
		<div class="col-xs-9">
			<div class="image-preview">
			<div class="preview" ></div>
			</div>
			<div class="field">
				<%= form_for(@image, url: front_users_path) do |f| %>
				<%= f.attachment_field :image %>
				<%= f.submit "投稿する" %>
				<% end %>
			</div>
		</div>
</div>